<div class="container">
    <h2>Vuelos y tarifas</h2>
    <p>Operaciones CRUD</p>            
    <!-- <form action="" id="busquedaForm">
      <input name="filterPost" placeholder="buscar..." type="text"  class="form-control" [(ngModel)]="filterPost"  >
    </form> -->
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Vuelo</th>
              <th>Estado</th>
              <th>Hora salida</th>
              <th>Hora llegada</th>
              <th>Ciudad salida</th>
              <th>Ciudad llegada</th>
              <th>Asientos disponibles</th>
              <th>Costo</th>
            </tr>
          </thead>
          <tbody>
            <!-- *ngFor="let Fight of _flightList  -->
            <!-- | filter:'cityinit':filterPost" -->
                <tr >
    
                  <!-- <td>{{Flight.idflight}}</td> 
                  <td>{{Flight.state}}</td>
                  <td>{{Flight.hourinit}}</td>
                  <td>{{Flight.hourend}}</td> 
                 <td>{{Flight.cityinit}}</td>
                 <td>{{Flight.cityend}}</td>
                 <td>{{Flight.seats}}</td>
                 <td>{{Flight.cost}}</td>
                
                
                -->
                  
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                 
              <td>
                <!-- (click)="reservFlight(Flight.idflight)" -->
                <button type="button" class="btn btn-primary" >Information</button>&nbsp;&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="goToAddUsuario()">Añadir nuevo usuario</button>
      &nbsp;&nbsp;
       &nbsp;&nbsp; -->
    </div>
